.pa-tooltip__content {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -1.75rem;
  left: 115%;
}

.pa-tooltip__content--left {
  left: unset;
  right: 120%;
  top: -20%;
}

.pa-tooltip__content--top {
  top: unset;
  bottom: 150%;
  left: 35%;
  margin-left: -60px;
}

.pa-tooltip__content--bottom {
  top: 150%;
  left: -50%;
}

/* Tooltip on right / Arrow pointing left */
.pa-tooltip__content::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  bottom: unset;
  left: unset;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

/* Tooltip on Left / Arrow pointing right */
.pa-tooltip__content--left::after {
  top: 50%;
  right: unset;
  bottom: unset;
  left: 100%;
  border-color: transparent transparent transparent black;
}

/* Tooltip on top / Arrow pointing down */
.pa-tooltip__content--top::after {
  top: 100%;
  right: unset;
  bottom: unset;
  left: 50%;
  border-color: black transparent transparent transparent;
  margin-top: 0;
}

/* Tooltip on bottom / Arrow pointing up */
.pa-tooltip__content--bottom::after {
  top: unset;
  right: unset;
  bottom: 100%; /* At the top of the tooltip */
  left: 46%;
  border-color: transparent transparent black transparent;
}
