.pa-sidebar__root--primary {
  background-color: var(--pa-color-primary-normal);
  color: var(--pa-color-primary-brightest);
}

.pa-sidebar__root--secondary {
  background-color: var(--pa-color-secondary-normal);
  color: var(--pa-color-primary-darkest);
}

.pa-sidebar__root--tertiary {
  background-color: var(--pa-color-tertiary-normal);
  color: var(--pa-color-primary-darkest);
}
